@*



*@



<!DOCTYPE html>
<html>
<head>
    <style>
       table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            
        }

        tr:nth-of-type(odd) { 
    background: #eee; 
    }
        th { 
    background: #3498db; 
    color: white; 
    font-weight: bold; 
    }

        td, th {
        padding: 10px; 
        border: 1px solid #ccc; 
        text-align: left; 
        font-size: 18px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
        #table-wrapper {
  position:relative;
}
#table-scroll {
  height:450px;
  overflow:auto;  
  margin-top:20px;
}

    </style>
</head>
<body>

    @model Storage
    @{
        ViewData["Title"] = "View Posts";
    }

    <div id="table-wrapper">
        <div id="table-scroll">
            <table>
                <tr>
                    <th><label asp-for="post[0].Id" class="col-md-2 control-label">Nr.</label></th>
                    <th><label asp-for="post[0].Email" class="col-md-2 control-label">From</label></th>
                    <th><label asp-for="post[0].Message" class="col-md-2 control-label">Post</label></th>
                    <th><label asp-for="post[0].PostDate" class="col-md-2 control-label">Date</label></th>
                </tr>


                @for (int i = 0; i < Model.size_post; i++)
                {
                    <tr>

                        <td> <label asp-for="post[i].Id" class="col-md-2 control-label">@Model.post[i].Id</label> </td>
                        <td> <label asp-for="post[i].Email" class="col-md-2 control-label">@Model.post[i].Email</label></td>
                        <td> <label asp-for="post[i].Message" class="col-md-12 control-label">@Model.post[i].Message</label> </td>
                        <td>  <label asp-for="post[i].PostDate" class="col-md-2 control-label">@Model.post[i].PostDate</label> </td>

                    </tr>

                }

            </table>
            </div>
        </div>

</body>
</html>











