<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 50%;
        }

        tr:nth-of-type(odd) {
            background: #eee;
        }

        th {
            background: #3498db;
            color: white;
            font-weight: bold;
        }

        td, th {
            padding: 10px;
            border: 1px solid #ccc;
            text-align: left;
            font-size: 18px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        #table-wrapper {
            position: relative;
        }

        #table-scroll {
            height: 450px;
            overflow: auto;
            margin-top: 20px;
        }
    </style>
</head>
<body>

    @model IndexViewModel
    @{
        ViewData["Title"] = "Change your account settings";
    }

    <p class="text-success">@ViewData["StatusMessage"]</p>

    <table align="center">

        <tr>


            <th>  <label >Settings</label></th>
            <th></th>



        </tr>

        <tr>


            <td>  <label class="col-md-2 control-label">Password</label></td> 
            <td> <a class="btn btn-default" href="@Url.Action("ChangePassword")">Change</a></td>


        </tr>


        <tr>


            <td>  <label class="col-md-2 control-label">First_Name</label></td>
            <td> <a class="btn btn-default" href="@Url.Action("ChangeFirstName")">Change</a></td>


        </tr>

        <tr>


            <td>  <label class="col-md-2 control-label">Last_Name</label></td>
            <td> <a class="btn btn-default" href="@Url.Action("ChangeLastName")">Change</a></td>


        </tr>

    </table>